* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  margin: 0;
  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  background-size: 100%;
}
header{
  position: absolute;
}

h1{
padding-left:30px;
font-family: 'Rowdies', cursive;
padding-right: 40px;

}
h2{
  font-family: 'Rowdies', cursive;
  font-size: 50px;
  /* align-content:flex-start; */
  position: relative;
animation: slide 2s infinite;
animation-direction: alternate;
margin-left: 0px;
 
}
.grid-wrapper {
  margin-top: -70px;
  display: flex;
  justify-content: center;
  position: relative;

}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 650px;
  width: 1000px;
  margin-top: 110px;
  
}

.grid div {
  /* border: 1px solid lightgrey; */
  flex-grow: 1;
  height: 10%;
  width: 10%;

}
.grid div.poo {
  background-image: url('../images/Hand2.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-size: 70%;
  
}
.grid div.fire{
  background-image: url('../images/Client.png');
  background-repeat: no-repeat;
  background-size: contain;

}
.grid div.weapon{

  background-image: url('../images/Spurt@0.75x.png');
  background-repeat: no-repeat;
  background-position: center;
}
.money{
  background-image: url('../images/money.png');
  background-repeat: no-repeat;
}

header{
  display: flex;
  flex-direction: row;
  position: absolute;
  align-self: center;
  display: inline-flex;
  margin-top: -20px;
 margin-left: 300px;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.blurb{
  font-family: 'Rowdies', cursive;
  margin-left: 100px;
  margin-right: 100px;
  justify-content: space-evenly;
  font-size: 25px;
}
.container-1{
  /* background-image: url('https://image.freepik.com/free-vector/massage-parlor-illustration-animation-background_77628-14.jpg'); */
  /* background-size: contain; */
  position: absolute;
  /* display: none; */
  justify-self: center;
  /* margin-top: 20px; */
  align-content: center;
  text-align: center;
  flex-direction: column;
  height: 91%;
  margin-top: 40px;
  margin-right: 100px;
  background-repeat: no-repeat;
  width: 1000px;
 background-color: yellow;
 margin-left: 100px;
}


.tears{
  background-image: url('../images/Tear-Three.png');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}

.cash{
  background-image: url('../images/Cash.png');
    background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}
  
#start{
  position: absolute;
  top: 90%;
  font-size: 20px;
  
} 
.game-over{
  display: none;
  position: absolute;
  font-family: 'Rowdies', cursive;
  font-size: 200px;
  margin-top: -600px;
  margin-left: 450px;
 text-align: center;
 padding-top: 0px;
 color :yellow;

}

#start {
  background-color: yellowgreen;
  font-family: 'Rowdies', cursive;
  font-size: 20px;
  padding: 14px 40px;
  border-radius: 4px;
  transition-duration: 6s;
  cursor: pointer;
  border: 2px solid #555555;

}


.restart{
 /* padding-top: -100px; */
 display: block;
 position: absolute;
 margin-bottom: 0px;
 background-color: yellowgreen;
 font-family: 'Rowdies', cursive;
 font-size: 20px;
 padding: 14px 40px;
 border-radius: 4px;
 border: 2px solid #555555;
 margin-left: 170px;
 transform: rotate(45deg);
}


@keyframes slide {
  from {left: -300px;}
  to {left: 300px;}
  
}
.blownup {
background-image: url(../images/Boom.png);
background-repeat: no-repeat;
background-size: 50%;
background-position: center;
}